# Entorno virtual
.venv/
venv/
env/
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal
*.log
/staticfiles/
/media/

# Secretos
.env
*.env
!.env.example

# IDE
.vscode/
.idea/
*.swp
.DS_Store

*.sqlite3
db.sqlite3